body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    min-height: 100dvh;
    width: 100%;

    display: grid;
    gap: 12px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.item {
    background-color: aqua;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color: rgb(255, 0, 0);
}

.item-2 {
    background-color: rgb(255, 60, 0);
    grid-column: 1 / 3;
    grid-row: 4 / 7;
}

.item-3 {
    background-color: rgb(255, 145, 0);
    grid-column: 1 / 3;
    grid-row: 7 / 11;
}

.item-4 {
    background-color: rgb(255, 217, 0);
    grid-column: 3 / 5;
    grid-row: 1 / 7;
}

.item-5 {
    background-color: rgb(136, 255, 0);
    grid-column: 3 / 4;
    grid-row: 7 / 9;
}

.item-6 {
    background-color: rgb(0, 255, 179);
    grid-column: 3 / 4;
    grid-row: 9 / 11
}

.item-7 {
    background-color: rgb(0, 255, 255);
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}

.item-8 {
    background-color: rgb(0, 26, 255);
    grid-column: 5 / 7;
    grid-row: 3 / 5;
}

.item-9 {
    background-color: rgb(111, 0, 255);
    grid-column: 5 / 7;
    grid-row: 5 / 7;
}

.item-10 {
    background-color: rgb(247, 0, 255);
    grid-column: 4 / 6;
    grid-row: 7 / 11;
}

.item-11 {
    background-color: rgb(255, 0, 98);
    grid-column: 6 / 7;
    grid-row: 7 / 11;
}